@font-face {
    font-family: 'Computerfont';
    src: url('images/Computerfont.ttf') format('truetype');
}

body {

 
  background: url('images/background2.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
h1{
    color:lawngreen;
	font-size:80px;
}

.container {
    height: 100%;
	margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.video {
    margin-top: 5%;
}
.steam {
    margin-top: 3%;
    height: 43px;
    width: 365px;
    font-family:Computerfont;
    color:lawngreen;
   
}
.jyst {
    margin-top: 5%;
 }

.steam a:hover {
    font-weight: bolder;
	color: #057214;
    
}
.steam a {
    color: lawngreen;
    font-size: 50px;
    
}
.title {
	font-family:Computerfont;
	color: lawngreen;
}

#fade {
    display: none
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 900px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

body {

 
 background-color: black;

}
	.container  {
  
 height: 100%;
	margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
}
